[submodule "emacs.d/vendor/undo-tree"]
	path = emacs.d/vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "emacs.d/vendor/js2-mode"]
	path = emacs.d/vendor/js2-mode
	url = https://github.com/magnars/js2-mode.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/browse-kill-ring"]
	path = emacs.d/vendor/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "emacs.d/vendor/js2-refactor"]
	path = emacs.d/vendor/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "emacs.d/vendor/mark-multiple"]
	path = emacs.d/vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/vendor/yasnippet"]
	path = emacs.d/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/vendor/markdown-mode"]
	path = emacs.d/vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/vendor/jinja2-mode"]
	path = emacs.d/vendor/jinja2-mode
	url = https://github.com/paradoxxxzero/jinja2-mode.git
[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = https://github.com/magit/magit.git
[submodule "emacs.d/vendor/soy-mode"]
	path = emacs.d/vendor/soy-mode
	url = https://github.com/toomore-such/soy-mode.git
[submodule "emacs.d/vendor/nodejs"]
	path = emacs.d/vendor/nodejs
	url = https://github.com/emacsmirror/nodejs-mode.git
[submodule "emacs.d/vendor/eclim"]
	path = emacs.d/vendor/eclim
	url = https://github.com/senny/emacs-eclim.git
[submodule "emacs.d/vendor/egit"]
	path = emacs.d/vendor/egit
	url = https://github.com/jimhourihan/egit.git
[submodule "emacs.d/vendor/goflymake"]
	path = emacs.d/vendor/goflymake
	url = https://github.com/dougm/goflymake.git
[submodule "emacs.d/vendor/go-errcheck"]
	path = emacs.d/vendor/go-errcheck
	url = https://github.com/dominikh/go-errcheck.el.git
