*.cache
*.elc
*.pyc
*.swp
.DS_Store
emacs.d/abbrev_defs
emacs.d/ac-comphist.dat
emacs.d/auto-save-list
emacs.d/autosaves
emacs.d/backups
emacs.d/elpa
emacs.d/eshell
emacs.d/ido.last
emacs.d/session*
emacs.d/tmp/savehist
emacs.d/tramp
fvwm/icon.tmp.*
vim/.netrwhist
