.DS_Store
vim/.netrwhist
IdeaIC10/config/componentVersions/*
IdeaIC10/config/tasks/*
IdeaIC10/config/options/*
IdeaIC10/system
emacs.d/tramp
emacs.d/ac-comphist.dat
emacs.d/tmp/savehist
emacs.d/auto-save-list
emacs.d/abbrev_defs
emacs.d/session*
config/Trolltech.conf
config/autostart
config/chromium
config/enchant
config/gtk-2.0
config/gwibber
config/monitors.xml
config/google-googletalkplugin
config/operamobile
config/spotify
config/update-notifier
config/sublime-text-2/Settings
emacs.before_ecb_2.40
*.pyc
