[Unit]
Description=VPN tunnel to UiO USIT subnet
After=network.target

[Service]
ExecStart=sshuttle \
	--auto-hosts \
	--auto-nets \
	--dns \
	--disable-ipv6 \
	--remote andretol@saruman.uio.no \
	129.24.0.0/24
Restart=always
Type=forking
PIDFile=%h/tmp/sshuttle.pid

[Install]
WantedBy=multi-user.target
